body{
    --color-gray-roboflow-100: #f1f1f1;
    --color-gray-roboflow-200: #e9e9e9;
    --color-text-default: #111111;
    font-family: "Noto Sans", sans-serif;
    
}


li{
    list-style:none;
}

p, h1{
    color: var(--color-text-default);
}

hedaer{
    height:50%;
}

header #userinfo {
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    margin-top:2rem;
    /* gap:0.0005px; */
    gap:0.2rem;
}

#follow{
    position:relative;
    bottom:2.8rem;
    margin-bottom:0.1rem;
    font-size:1.1rem;
    font-weight: 550;

}

header ul{
    display: flex;
    justify-content: center;
    flex-direction: horizontal;
    align-items: center;
    position:relative;
    bottom:3rem;
    gap: 1rem;
}

header ul button{
    width: 5.5rem;
    height: 3.5rem;
    border-radius: 2rem;
    border-color: none;
    font-size: 1rem;
    font-weight: 550;
    /* margin-top:0.2rem; */
    border-color: transparent;

}

#edit{
    width:7rem;
}


#userid{
    position:relative;
    bottom: 2rem;
    margin-bottom:0.1rem;
    font-size:1rem;

}

#pfp
{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    /* margin-bottom:0.2rem; */
}

#search{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-left:1rem;
    margin-right:1rem;
}

#search section{
    background-color:var(--color-gray-roboflow-100);
    border-radius: 5%;
    /* border radius doesn't look right */
    width: 90rem;
    height:3.5rem;
    margin-left:3rem;
}

#search section input{
    width: 81rem;
    height:3rem;
    background-color:transparent;
    border-color:transparent;
    
}

/* #search section svg{
    margin-right:40rem;
    overflow:visible;
    margin-top:1.3rem;
    margin-left:1.2rem;
    
}

#search section p{
    margin-left:3.2rem;
    margin-top:-1.6rem;
    font-size:20px;
} */

/* #search section button{
    border-color:transparent;
    background-color:transparent;
    margin-top:-3rem;
    margin-left:50rem;
    /* margin-left:2rem; Doesn't work because these are hindering the search box, should I just use java?*/ 

h1{
    font-size: 2.5rem;
    position: relative;
    bottom: 1rem;
    font-weight:500;
    position: relative;
    margin-top: 1.7rem;
    margin-bottom: 0.4rem;
}

#search div{
    display:flex;
    margin-right:-2rem;
    
}
#pfp2{
    width:3rem;
    height:3rem;
    border-radius:50%;
    margin-left:1rem;
    margin-top:0.3rem;
    border: 3px solid;
    border-color: var(--color-text-default);
}

#search div button{
    margin-left:0.2rem;
    margin-top:1rem;
    border-radius:50%;
    width:2rem;
    height:2rem;
    border-color:transparent;
    background-color:transparent;
}


#left_bar section{
    border-right: 1px solid;
    border-color: var(--color-gray-roboflow-200);
    position:absolute;
    display: flex;
    width: 4.5rem;
    height: 100%;

    /* margin-right:0.5rem; */
    /* absolute size doesn't work */
}

#left_bar section ul,#extra{
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
    gap:4.5rem;

}

#extra{
    margin-top: 53rem;
}

#gallery{
    display: flex;
    justify-content: space-between;
    margin-left: 11rem;
    margin-right: 1rem;
    margin-top: 20rem;
}

#folders{
    display: flex;
    justify-content: center;
    margin-top:0;
    position:relative;
    bottom:1rem;
}

#folders div ul{
    display: flex;
    gap:40rem;
    position: relative;
    bottom: 2rem;
}

#folders div ul li{
    display: flex;
    gap:40rem;
}


#folders ul li button{
    background-color:transparent;
    border-color: transparent;
    border-bottom: 4px solid;
    border-bottom-left-radius: 1000;
    border-bottom-right-radius:1000 ;
    border-bottom-color: var(--color-text-default);
    height:3.5rem;
    width:4rem;
}

#question{
    position: fixed;
    top: 90%;
    right:2rem;
    width: 200px;
    height: 100px;
    width:4.3rem;
    height:4.3rem;
    border-radius:50%;
    margin-left:50rem;
    background-color:white;
    /* How to do shadow blur? */
}

#folders{
    margin-top:1rem;
}

#folders div ul{
    gap:1rem;
}

#folders div ul p{
    font-size:17px;
}

#saves{
    display: flex;
    margin-left:6.5rem;
    height:20rem;
    
}

#saves button{
    border-radius: 50%;
    width:3.5rem;
    height:3.5rem;
}

/* #saves div{
    display:flex;
    flex-direction:vertical;
    margin-top:5rem;
    height:20rem;
    width:30rem;
    margin-right:10rem;
} */

#cover{
    display:flex;
    background-color:grey;
    height:13rem;
    width:20rem;
    border-radius:20%;
    margin-left:-4rem;
    margin-top: 5rem;
}

#saves p{
    font-weight:bold;
    font-size:25px;
    margin-right:5rem;
}
