body {
    --color-gray-roboflow-100: #f1f1f1;
    --color-gray-roboflow-200: #e9e9e9;
    --color-text-default: #111111;
    font-family: "Noto Sans", sans-serif;
    margin-top:0;
}

/* Left Navbar styling */

#left_bar{
    height:100%;
    position:fixed;
    border-right: 1px solid;
    border-right-color:var(--color-gray-roboflow-200);
    width:4rem;
    margin-right:1px;
}


#left_bar section ul{
    display: flex;
    flex-direction: column;
    position: relative;
    right:2rem;
    gap:2.5rem;

}

#left_bar section ul button{
    height:2.8rem;
    width:2.8rem;
    border: none;
    background-color: transparent;
}

#set
{
    position:relative;
    height:2.8rem;
    width:2.8rem;
    top:26rem;
    left:0.5rem;
}

/* Searchbar Styling */
#search{
    position:fixed;
    display: flex;
    justify-content: center;
    /* margin-left:0.0002rem; */
    height:7rem;
    width:100rem;
    left:5.5rem;
    right:2rem;
    z-index:10;
    background-color:white;
    top:0rem;

}

#search section{
    background-color:var(--color-gray-roboflow-100);
    border-radius: 0.6rem;
    width: 88%;
    position:fixed;
    right:7rem;
    height:4rem;
    margin-top:1.5rem;
    overflow:auto;
} 

#search section div{
    display: flex;
    justify-content: flex-end;
    width:5rem;
    position:fixed;
    left:4rem;
    bottom:53.3rem;
    height:3rem;
    border-left: 1px black;
    background-color:transparent;
}

#sub{
    display:flex;
    height:4rem;
    bottom:1.5rem;
    background-color:transparent;
    overflow:auto;
    background-color:transparent;
    flex-direction: right;
    margin-left:80rem;
    top:3rem;
}

#pfp2i{
    width:3rem;
    height:3rem;
    border-radius:50%;
    position:relative;
    top:0.5rem;
    border-color:var(--color-text-default);
    background-color:transparent;
    z-index:20;
}

#pfp2{
    overflow:hidden;
    width:2.8rem;
    height:2.8rem;
    border-radius:50%;
    position:absolute;
    top:0.1rem;
    left:0.2rem;
}

#sub button{
    background-color:transparent;
    border-color:transparent;
}

#search section input{
    width: 81rem;
    height:3rem;
    border-color:transparent;
    background-color:transparent;
}

#si{
    position:absolute;
    left:1.2rem;
    top:1.5rem;
    height:1.1rem;
    width:1.1rem;
} 

#search section a{
    position: absolute;
    left:3rem;
    bottom:1.3rem;
    font-size:19px;
} 

#yours, #drop1b{
    position:absolute;
    background-color:transparent;
    top:4rem;
    height:100%;
    overflow:auto;
    cursor: pointer;
    unicode-bidi: isolate;
    display: flex;
    flex-direction: row;
    left:76rem;
}

#yours{
    width:8rem;
    border-color:transparent;
    border-left:3px solid !important;
    border-left-color:var(--color-gray-roboflow-200) !important;
    font-weight:600;
    font-size:15px;
}

#drop1b{
    border-color:transparent;
    background-color:transparent;
    margin-left:10rem;
}

/* Question button styling */

#question{
    position: fixed;
    top: 90%;
    right:2rem;
    width: 200px;
    height: 100px;
    width:4.3rem;
    height:4.3rem;
    border-radius:50%;
    margin-left:50rem;
    background-color:white;
    z-index:9;
    box-shadow: 0 0 8px 4px var(--color-gray-roboflow-200);
    border-color:transparent;
    /* How to do shadow blur? */
    box-shadow: 10px 10px hsl(0, 0%, 70%);
}

/* Dropdown menu styling */

/* #block1{
    display: inline-block;
    align-item: right;
    position: relative;
}

#block1 button{
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    border: 1px grey;
    cursor: pointer;
}

#block1 a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

#dropdown .content{
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}

#dropdown:hover .content{
    display: block;
}

#dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
} */

/* The search field */
#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}
  
/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Title of page */
h1 {
    text-align: center;
    padding-top: 10rem;
}

/* Profile */
/* .profile {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    list-style-type: none;
} */

/* Feed */

#feed {
    width: 33px;
    background-color: transparent;
    position: relative;
    align-items: left;
    width: 90%;
    left: 2rem;
    right: 10rem;
    margin-top: 0px;
}

#feed img{
    border-radius:30px;
    padding: 20px;
    border: none;
    top: 0px;
    left: 0px;
    min-height: 120px;
    height: 90%;
    width: 90%;
    margin-bottom: 0px;
    opacity: 1;
    margin-top: 50px;
    display: inline-block;
    padding-bottom: 0px;
}

#feed ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    list-style: none;
}

li {
    list-style: none;
}

/* Title */
.actionbar {
    display: block;
    top: 80px;
    z-index: 1;
    width: 100%;
    align-items: center;
}

.view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.stancom {
    display: block;
    box-sizing: border-box;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-left: 1500px;
}

.create {
    display: block;
    box-sizing: border-box;
    padding: 0;
    background-color: transparent;
    justify-content: space-between;
    border: 0;
}